{% extends 'base.html.twig' %}

{% block title %}
	Quantum Marketing
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row mb-3">
			 <form action="{{ path('subscribe_newsletter') }}" method="post">
            <h3><b>Subscribe to our newsletter</b></h3>

            {% set remainingSpots = 100 - totalSubscribers %}
            {% if remainingSpots > 0 %}
				<p>Only the next <b>{{ remainingSpots }}</b> subscribers will join the <b> Beta </b> user experience (exclusive privileges).</p>
            {% else %}
                <p>Subscribe to not miss our latest news.</p>
            {% endif %}
            <div class="input-group">
                <input type="email" class="form-control" placeholder="Enter your email" name="email">
                <button type="submit" class="btn btn-primary">Subscribe</button>
            </div>
        </form>
		</div>
		{% for flashType, flashMessages in app.flashes %}
            {% if flashType == 'success' %}
                {% for flashMessage in flashMessages %}
                    <div class="alert alert-success" role="alert">
                        {{ flashMessage }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endfor %}

		<h2 class="titles" style="font-weight: 500; margin-top : 60px ; ">
			<img src="{{ asset('icons/tricks.svg') }}" alt="Quantum Logo" style="height: 50px; margin-right: 0px;">
			All Tricks
		</h2>
		<br>
		<div class="list-group">
			{% for post in posts %}
				<a href="{{ path('post_show', {id: post.id}) }}" class="list-group-item list-group-item-action">
					<div class="row align-items-center">
						<div class="col-2 col-md-1">
							<img style="background-color: black" src="{{ asset('posts_images/' ~ post.image) }}" alt="{{ post.title }}" class="img-thumbnail">
						</div>
						<div class="col-8 col-md-9">
							<h5 class="mb-0">{{ post.title }}</h5>
						</div>
						<div class="col-2 col-md-1 text-right">
							<button type="button" class="btn btn-primary btn-sm butOrng" data-toggle="modal" data-target="#exampleModal{{ post.id }}">
								>
							</button>
						</div>
					</div>
				</a>
			{% endfor %}
		</div>
	</div>
{% endblock %}

