{# templates/post/list.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}
	Quantum Marketing
{% endblock %}

{% block body %}
	<div class="container">
		<h2 class="titles" style="font-weight : 500">
			<img src="{{ asset('icons/tricks.svg') }}" alt="Quantum Logo" style="height: 50px; margin-right: 0px;">
			All Tricks
		</h2>
		<br>
		<div class="list-group">
			{% for post in posts %}
				<a href="{{ path('post_show', {id: post.id}) }}" class="list-group-item list-group-item-action">
					<div class="row align-items-center">
						<div class="col-2 col-md-1">
							<img style="background-color : black" src="{{ asset('posts_images/' ~ post.image) }}" alt="{{ post.title }}" class="img-thumbnail">
						</div>
						<div class="col-8 col-md-9">
							<h5 class="mb-0">{{ post.title }}</h5>
						</div>
						<div class="col-2 col-md-1 text-right">
							<button type="button" class="btn btn-primary btn-sm butOrng" data-toggle="modal" data-target="#exampleModal{{ post.id }}" >
								>
							</button>
						</div>
					</div>
				</a>
			{% endfor %}
		</div>
	</div>
{% endblock %}

